@page
@using Aqt.CoreOracle.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Aqt.CoreOracle.Web.Pages.Categories.CategoryItems.EditModalModel
@inject IStringLocalizer<CoreOracleResource> L
@{
    Layout = null;
}

<form id="editCategoryItemForm" asp-page="/Categories/CategoryItems/EditModal" data-ajax-begin="savingCategoryItem">
    <abp-modal>
        <abp-modal-header title="@L["EditCategoryItem"].Value"></abp-modal-header>
        <abp-modal-body>
            <input asp-for="Id" type="hidden" />
            
            <abp-select asp-for="CategoryItem.CategoryTypeId"
                       label="@L["CategoryType"]"
                       asp-items="@Model.CategoryTypes"
                       disabled="true" />
                       
            <abp-input asp-for="CategoryItem.Code" 
                      auto-focus="true"
                      required
                      maxlength="50" />
                      
            <abp-input asp-for="CategoryItem.Name" 
                      required
                      maxlength="100" />
            
            <abp-select asp-for="CategoryItem.ParentId"
                       label="@L["Parent"]"
                       asp-items="@Model.Parents" />
                       
            <abp-input asp-for="CategoryItem.DisplayOrder" type="number" min="0" />
            <abp-input asp-for="CategoryItem.Value" maxlength="500" />
            <abp-input asp-for="CategoryItem.Icon" maxlength="100" />
            <abp-input asp-for="CategoryItem.ExtraProperties" text-area maxlength="2000" />
            <abp-input asp-for="CategoryItem.IsActive" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>

@section scripts {
    <script>
        $(function() {
            var $form = $('#editCategoryItemForm');
            var $submitButton = $form.find('button[type="submit"]');
            var $codeInput = $('#CategoryItem_Code');
            var categoryTypeId = $('#CategoryItem_CategoryTypeId').val();
            
            // Initialize form validation
            $form.data('validator').settings.rules = {
                'CategoryItem.Code': {
                    required: true,
                    maxlength: 50,
                    remote: {
                        url: "/Categories/CategoryItems/CheckCodeAvailability",
                        type: "POST",
                        data: {
                            categoryTypeId: categoryTypeId,
                            code: function() {
                                return $codeInput.val();
                            },
                            expectedId: '@Model.Id'
                        }
                    }
                },
                'CategoryItem.Name': {
                    required: true,
                    maxlength: 100
                },
                'CategoryItem.Value': {
                    maxlength: 500
                },
                'CategoryItem.Icon': {
                    maxlength: 100
                },
                'CategoryItem.ExtraProperties': {
                    maxlength: 2000
                }
            };

            $form.data('validator').settings.messages = {
                'CategoryItem.Code': {
                    required: '@L["RequiredField"]',
                    maxlength: '@L["MaxLengthField"]',
                    remote: '@L["CategoryCodeAlreadyExists"]'
                },
                'CategoryItem.Name': {
                    required: '@L["RequiredField"]',
                    maxlength: '@L["MaxLengthField"]'
                },
                'CategoryItem.Value': {
                    maxlength: '@L["MaxLengthField"]'
                },
                'CategoryItem.Icon': {
                    maxlength: '@L["MaxLengthField"]'
                },
                'CategoryItem.ExtraProperties': {
                    maxlength: '@L["MaxLengthField"]'
                }
            };
        });

        // Show loading when saving
        function savingCategoryItem() {
            if (!$('#editCategoryItemForm').valid()) {
                return false;
            }
            abp.ui.setBusy();
            return true;
        }
    </script>
} 